{
	email admin@fhir.org
}
(tryall) {
	try_files {args.0} {args.0}{fextension} {args.0}index.html
}

build.fhir.org:80, build.fhir.org {
	log {
		output stdout
		level info
	}

	root * /var/www
	encode gzip
	file_server browse

	header {
		Access-Control-Allow-Origin "*"
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type"
	}

	map {header.Accept} {fextension} {
		"text/turtle" ".ttl"
		"application/fhir+xml" ".xml"
		"application/fhir+json" ".json"
		"application/json-ld" ".jsonld"
		default ".html"
	}

	import tryall {path}

	@core {
		not path_regexp ^\/ig
		not path_regexp ^\/branches\/
	}

	handle @core {
		import tryall /branches/master/{path}
	}

	@ig {
		not path_regexp \/branches\/
		path_regexp ig ^\/ig/(?P<org>[^/]+)\/(?P<repo>[^/]+)\/(?P<rest>.*)
	}

	handle @ig {
		import tryall /ig/{re.ig.org}/{re.ig.repo}/branches/__default/{re.ig.rest}
	}
}
