{
	http_port 80
	https_port 443
}

(tryall) {
	try_files {args.0}
	try_files {args.0}{fextension}
	try_files {args.0}index.html
}

build.fhir.org:80, build.fhir.org {
	log {
		level debug
	}

	root * /var/www
	encode gzip
	file_server browse

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods GET, POST, OPTIONS
		Access-Control-Allow-Headers DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type
	}

	map {header.Accept} {fextension} {
		"text/turtle" ".ttl"
		"application/fhir+xml" ".xml"
		"application/fhir+json" ".json"
		"application/json-ld" ".jsonld"
		default ".html"
	}

	@core {
		not path_regexp ^\/ig
		not path_regexp ^\/branches\/
	}

	handle @core {
		import tryall /branches/master/{path}
	}

	@ig {
		not path_regexp \/branches\/
		path_regexp ig ^\/ig/(?P<org>[^/]+)\/(?P<repo>[^/]+)\/(?P<rest>.*)
	}

	handle @ig {
		import tryall /ig/{re.ig.org}/{re.ig.repo}/branches/master/{re.ig.rest}
		import tryall /ig/{re.ig.org}/{re.ig.repo}/branches/main/{re.ig.rest}
	}
}
